a.tooltip {
{#   color: #CC3E6E;#}
    text-decoration: none;

}
a.tooltip:hover {
    border-bottom: 1px dotted #CC3E6E;
}
a.tooltip:hover {
    text-decoration: none;
}
a.tooltip span {
    display: none;
    margin: 0 0 0 10px;
    padding: 5px;
}
a.tooltip:hover span {
    background: none repeat scroll 0 0 #FFEFF5;
    border: 1px solid #CC3E6E;
    color: #CC3E6E !important;
    display: inline;
    position: absolute;
    z-index: 1;
}