<div class="files-comments">
    <div class="nocomments">
        <div class="wrapper">
            <i class="fa fa-comments-o"></i>

            <p>Discuss this file</p>

            <p class="desc">Leave comments about this image below to start a discussion with your
                contributors. All posts will appear here and within the global comments</p>
        </div>
    </div>
    <div class="commentsarea">
        <div class="wrapper">
            <div id="lightbox-scroll-area" class="scroll-area">

            <div class="viewport">
                <div style="top: 0px;" class="overview">
                    {% if comments %}
                    {% for comment in comments %}
                        {% ifnotequal comment.file_cell  None %}
                            <div id="comment-item-{{ comment.id }}" data-id="{{ comment.id }}" data-cell-id="{{ comment.file_cell.cell_id }}" class="item group-{{ comment.id }} parent hasfile hasfile-{{ comment.file_cell.file.alias }} hasfile-cell-{{ comment.file_cell.cell_id }}" data-file-id="{{ comment.file_cell.file.alias }} ">
                                <div class="comment">
                                    <p>{{ comment.comment }}<br/></p>
                                </div>
                                <div class="foot">
                                    <img width="35px" height="35px" src="{{ comment.owner.get_avatar }}">
                                    <span class="name">{{ comment.owner.user }}</span>
                                    <span class="date">{{ comment.created | date:"F j, Y" }}</span>
                                    {% if not sitemap.lock %}
                                        <a href="#" data-delete="{{ comment.id }}">Delete</a>
                                    {% endif %}
                                    <a href="#" class="reply" data-id="{{ comment.id }}">Reply</a>
                                </div>
                            </div>
                            {% for child_comment in comment.get_childs %}
                                <div id="comment-item-{{ child_comment.id }}" data-id="{{ child_comment.id }}" class="item group-{{ child_comment.id }} group-{{ comment.id }} indent">
                                    <div class="comment">
                                        <p>{{ child_comment.comment }}<br/></p>
                                    </div>
                                    <div class="foot">
                                        <img width="35px" height="35px" src="{{ child_comment.owner.get_avatar }}">
                                        <span class="name">{{ child_comment.owner }}</span>
                                        <span class="date">{{ child_comment.created | date:"F j, Y" }}</span>
                                        {% if not sitemap.lock %}
                                            <a href="#" data-delete="{{ child_comment.id }}">Delete</a>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        {% endifnotequal %}
                    {% endfor %}
                    {% else %}
                        <div class="item">
                            <div class="comment">
                                <p>No comments</p>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            </div>
        </div>
    </div>
    <form action="" method="post"
          id="lightbox-post-comment">
        <div class="wysiwyg">

            <textarea style="display: none;" autocorrect="off" autocapitalize="off" autocomplete="off"
                      id="form-lightbox-comment" name="cell_file_comment"></textarea>
        </div>
        <div class="submit">
            <input class="button blue" value="Post Comment" type="submit">

            <div class="loading"></div>
        </div>
        <input name="cell_id" id="form-lightbox-comment-cell-id" value="" type="hidden">
        <input name="file_id" id="form-lightbox-comment-file-id" value="" type="hidden">
        <input name="_nonce" value="QiRL/6rjnkH9oYsysMo3i7k26oBcINOaEAB3WX1A3XY=" type="hidden">
    </form>
</div>