<form action="https://arieskienmendoza.slickplan.com/sitemap/edit/177985" method="post" id="sitemap-color">
    <div class="select white">
        <select style="display: none;" class="ui-white" id="level">
            <option value="all" selected="">Level</option>
            <option value="all">All</option>
        </select>
    </div>
    <ul class="palette colors">
        <li class="color first" data-color="#f69679"><p style="background-color: rgb(246, 150, 121);"></p></li>
        <li class="color" data-color="#f9ad81"><p style="background-color: rgb(249, 173, 129);"></p></li>
        <li class="color" data-color="#fdc689"><p style="background-color: rgb(253, 198, 137);"></p></li>
        <li class="color" data-color="#fff799"><p style="background-color: rgb(255, 247, 153);"></p></li>
        <li class="color" data-color="#c4df9b"><p style="background-color: rgb(196, 223, 155);"></p></li>
        <li class="color" data-color="#a3d39c"><p style="background-color: rgb(163, 211, 156);"></p></li>
        <li class="color" data-color="#82ca9c"><p style="background-color: rgb(130, 202, 156);"></p></li>
        <li class="color" data-color="#7accc8"><p style="background-color: rgb(122, 204, 200);"></p></li>
        <li class="color" data-color="#6dcff6"><p style="background-color: rgb(109, 207, 246);"></p></li>
        <li class="color" data-color="#7da7d9"><p style="background-color: rgb(125, 167, 217);"></p></li>
        <li class="color" data-color="#8393ca"><p style="background-color: rgb(131, 147, 202);"></p></li>
        <li class="color" data-color="#8781bd"><p style="background-color: rgb(135, 129, 189);"></p></li>
        <li class="color" data-color="#bd8cbf"><p style="background-color: rgb(189, 140, 191);"></p></li>
        <li class="color" data-color="#f49ac1"><p style="background-color: rgb(244, 154, 193);"></p></li>
        <li class="color" data-color="#f5989d"><p style="background-color: rgb(245, 152, 157);"></p></li>
        <li class="color" data-color="#d5d5d5"><p style="background-color: rgb(213, 213, 213);"></p></li>
        <li class="color last" data-color="#ffffff"><p style="background-color: rgb(255, 255, 255);"></p></li>
    </ul>
    <button type="submit" class="circle submit">Submit</button>
    <button type="reset" class="circle reset">Reset</button>
    <input name="_nonce" value="QiRL/6rjnkH9oYsysMo3i7k26oBcINOaEAB3WX1A3XY=" type="hidden">
</form>
<form action="https://arieskienmendoza.slickplan.com/sitemap/edit/177985" method="post" id="sitemap-themes">
    <div id="theme-selector">
        <a href="#" class="prev"></a>

        <div id="themes">
            <div id="themes-wrapper">
                <div class="theme">
                    <p>Gulf</p>
                    <ul class="palette colors" data-theme="gulf">
                        <li class="color" data-color="#3eadec"><p style="background: rgb(62, 173, 236) none repeat scroll 0% 0%;"></p></li>
                        <li class="color" data-color="#6fc4e4"><p style="background: rgb(111, 196, 228) none repeat scroll 0% 0%;"></p></li>
                        <li class="color" data-color="#86d6dc"><p
                                style="background: rgb(134, 214, 220) none repeat scroll 0% 0%;"></p></li>
                        <li clas="color" data-color="#ccf8f8"><p
                                style="background: rgb(204, 248, 248) none repeat scroll 0% 0%;"></p></li>
                        <li clas="color" data-color="#b2ddee"><p
                                style="background: rgb(178, 221, 238) none repeat scroll 0% 0%;"></p></li>
                        <li class="color last" data-color="#79ddf9"><p style="background: rgb(121, 221, 249) none repeat scroll 0% 0%;"></p></li>
                    </ul>
                </div>
                <div class="theme">
                    <p>Tangerine</p>
                    <ul class="palette colors" data-theme="tangerine">
                        <li class="color" data-color="#f57e43"><p style="background: rgb(245, 126, 67) none repeat scroll 0% 0%;"></p></li>
                        <li class="color" data-color="#c5dc44"><p style="background: rgb(197, 220, 68) none repeat scroll 0% 0%;"></p></li>
                        <li class="color" data-color="#f39527"><p
                                style="background: rgb(243, 149, 39) none repeat scroll 0% 0%;"></p></li>
                        <li class="color" data-color="#faf4a1"><p style="background: rgb(250, 244, 161) none repeat scroll 0% 0%;"></p></li>
                        <li class="color" data-color="#f7e46c"><p style="background: rgb(247, 228, 108) none repeat scroll 0% 0%;"></p></li>
                        <li class="color last" data-color="#fdc342"><p style="background: rgb(253, 195, 66) none repeat scroll 0% 0%;"></p></li>
                    </ul>
                </div>
                <div class="theme">
                    <p>Saturn</p>
                    <ul class="palette colors" data-theme="saturn">
                        <li class="color" data-color="#558bac"><p
                                style="background: rgb(85, 139, 172) none repeat scroll 0% 0%;"></p></li>
                        <li class="color" data-color="#cfb06a"><p
                                style="background: rgb(207, 176, 106) none repeat scroll 0% 0%;"></p></li>
                        <li class="color" data-color="#e8e1c2"><p
                                style="background: rgb(232, 225, 194) none repeat scroll 0% 0%;"></p></li>
                        <li class="color" data-color="#c1dee4"><p
                                style="background: rgb(193, 222, 228) none repeat scroll 0% 0%;"></p></li>
                        <li class="color" data-color="#e89b48"><p
                                style="background: rgb(232, 155, 72) none repeat scroll 0% 0%;"></p></li>
                        <li class="color last" data-color="#eae588"><p
                                style="background: rgb(234, 229, 136) none repeat scroll 0% 0%;"></p></li>
                    </ul>
                </div>
                <div class="theme">
                    <p>Khaki</p>
                    <ul class="palette colors" data-theme="khaki">
                        <li class="color" data-color="#c29978"><p
                                style="background: rgb(194, 153, 120) none repeat scroll 0% 0%;"></p></li>
                        <li class="color" data-color="#8cccd6"><p
                                style="background: rgb(140, 204, 214) none repeat scroll 0% 0%;"></p></li>
                        <li class="color" data-color="#d9d0a8"><p
                                style="background: rgb(217, 208, 168) none repeat scroll 0% 0%;"></p></li>
                        <li class="color" data-color="#b3d8b3"><p
                                style="background: rgb(179, 216, 179) none repeat scroll 0% 0%;"></p></li>
                        <li class="color" data-color="#f1ebaf"><p
                                style="background: rgb(241, 235, 175) none repeat scroll 0% 0%;"></p></li>
                        <li class="color last" data-color="#c1e4df"><p
                                style="background: rgb(193, 228, 223) none repeat scroll 0% 0%;"></p></li>
                    </ul>
                </div>
                <div class="theme">
                    <p>Honey Pot</p>
                    <ul class="palette colors" data-theme="honeypot">
                        <li class="color" data-color="#0b9baa"><p
                                style="background: rgb(11, 155, 170) none repeat scroll 0% 0%;"></p></li>
                        <li class="color" data-color="#22c2d4"><p
                                style="background: rgb(34, 194, 212) none repeat scroll 0% 0%;"></p></li>
                        <li class="color" data-color="#fffad5"><p
                                style="background: rgb(255, 250, 213) none repeat scroll 0% 0%;"></p></li>
                        <li class="color" data-color="#ffd34e"><p
                                style="background: rgb(255, 211, 78) none repeat scroll 0% 0%;"></p></li>
                        <li class="color" data-color="#db9e36"><p
                                style="background: rgb(219, 158, 54) none repeat scroll 0% 0%;"></p></li>
                        <li class="color last" data-color="#df563b"><p
                                style="background: rgb(223, 86, 59) none repeat scroll 0% 0%;"></p></li>
                    </ul>
                </div>
                <div class="theme">
                    <p>Ocean Sunset</p>
                    <ul class="palette colors" data-theme="oceansubset">
                        <li class="color" data-color="#64a291"><p
                                style="background: rgb(100, 162, 145) none repeat scroll 0% 0%;"></p></li>
                        <li class="color" data-color="#9c9b7a"><p
                                style="background: rgb(156, 155, 122) none repeat scroll 0% 0%;"></p></li>
                        <li class="color" data-color="#ffd393"><p
                                style="background: rgb(255, 211, 147) none repeat scroll 0% 0%;"></p></li>
                        <li class="color" data-color="#ff974f"><p
                                style="background: rgb(255, 151, 79) none repeat scroll 0% 0%;"></p></li>
                        <li class="color" data-color="#f54f29"><p
                                style="background: rgb(245, 79, 41) none repeat scroll 0% 0%;"></p></li>
                        <li class="color last" data-color="#df4f2e"><p
                                style="background: rgb(223, 79, 46) none repeat scroll 0% 0%;"></p></li>
                    </ul>
                </div>
                <div class="theme">
                    <p>Beach Time</p>
                    <ul class="palette colors" data-theme="beachtime">
                        <li class="color" data-color="#96ceb4"><p
                                style="background: rgb(150, 206, 180) none repeat scroll 0% 0%;"></p></li>
                        <li class="color" data-color="#ffeead"><p
                                style="background: rgb(255, 238, 173) none repeat scroll 0% 0%;"></p></li>
                        <li class="color" data-color="#ff9350"><p
                                style="background: rgb(255, 147, 80) none repeat scroll 0% 0%;"></p></li>
                        <li class="color" data-color="#ff6f69"><p
                                style="background: rgb(255, 111, 105) none repeat scroll 0% 0%;"></p></li>
                        <li class="color" data-color="#ffcc5c"><p
                                style="background: rgb(255, 204, 92) none repeat scroll 0% 0%;"></p></li>
                        <li class="color last" data-color="#aad8b0"><p
                                style="background: rgb(170, 216, 176) none repeat scroll 0% 0%;"></p></li>
                    </ul>
                </div>
                <div class="theme">
                    <p>Purple Rain</p>
                    <ul class="palette colors" data-theme="purplerain">
                        <li class="color" data-color="#a965ff"><p
                                style="background: rgb(169, 101, 255) none repeat scroll 0% 0%;"></p></li>
                        <li class="color" data-color="#b780ff"><p
                                style="background: rgb(183, 128, 255) none repeat scroll 0% 0%;"></p></li>
                        <li class="color" data-color="#c598ff"><p
                                style="background: rgb(197, 152, 255) none repeat scroll 0% 0%;"></p></li>
                        <li class="color" data-color="#d5b3ff"><p
                                style="background: rgb(213, 179, 255) none repeat scroll 0% 0%;"></p></li>
                        <li class="color" data-color="#e2cbff"><p
                                style="background: rgb(226, 203, 255) none repeat scroll 0% 0%;"></p></li>
                        <li class="color last" data-color="#f1e6ff"><p
                                style="background: rgb(241, 230, 255) none repeat scroll 0% 0%;"></p></li>
                    </ul>
                </div>
                <div class="theme">
                    <p>Elemental</p>
                    <ul class="palette colors" data-theme="elemental">
                        <li class="color" data-color="#d8314e"><p
                                style="background: rgb(216, 49, 78) none repeat scroll 0% 0%;"></p></li>
                        <li class="color" data-color="#e54661"><p
                                style="background: rgb(229, 70, 97) none repeat scroll 0% 0%;"></p></li>
                        <li class="color" data-color="#ffa644"><p
                                style="background: rgb(255, 166, 68) none repeat scroll 0% 0%;"></p></li>
                        <li class="color" data-color="#998a2f"><p
                                style="background: rgb(153, 138, 47) none repeat scroll 0% 0%;"></p></li>
                        <li class="color" data-color="#409f8a"><p
                                style="background: rgb(64, 159, 138) none repeat scroll 0% 0%;"></p></li>
                        <li class="color last" data-color="#2a9ac9"><p
                                style="background: rgb(42, 154, 201) none repeat scroll 0% 0%;"></p></li>
                    </ul>
                </div>
            </div>
        </div>
        <a href="#" class="next"></a>
    </div>
    <button type="submit" class="circle submit">Submit</button>
    <button type="reset" class="circle reset">Reset</button>
    <input name="_nonce" value="QiRL/6rjnkH9oYsysMo3i7k26oBcINOaEAB3WX1A3XY=" type="hidden">
</form>
<form action="https://arieskienmendoza.slickplan.com/sitemap/edit/177985" method="post" id="sitemap-custom">
    <div class="select white">
        <select style="display: none;" class="ui-white" id="level-custom">
            <option value="all" selected="">Level</option>
            <option value="all">All</option>
        </select>
    </div>
    <ul class="palette colors">
        <li class="color first" data-color=""><p style="background-color: rgb(255, 255, 255);"></p></li>
        <li class="color" data-color=""><p style="background-color: rgb(255, 255, 255);"></p></li>
        <li class="color" data-color=""><p style="background-color: rgb(255, 255, 255);"></p></li>
        <li class="color" data-color=""><p style="background-color: rgb(255, 255, 255);"></p></li>
        <li class="color" data-color=""><p style="background-color: rgb(255, 255, 255);"></p></li>
        <li class="color" data-color=""><p style="background-color: rgb(255, 255, 255);"></p></li>
        <li class="color" data-color=""><p style="background-color: rgb(255, 255, 255);"></p></li>
        <li class="color" data-color=""><p style="background-color: rgb(255, 255, 255);"></p></li>
        <li class="color" data-color=""><p style="background-color: rgb(255, 255, 255);"></p></li>
        <li class="color last" data-color=""><p style="background-color: rgb(255, 255, 255);"></p></li>
    </ul>
    <button type="button" class="button blue visible" id="palette-save">Save</button>
    <button type="button" class="button blue" id="palette-load">Load</button>
    <button type="button" class="button blue" id="palette-new">New</button>
    <button type="submit" class="circle submit">Submit</button>
    <button type="reset" class="circle reset">Reset</button>
    <input name="_nonce" value="QiRL/6rjnkH9oYsysMo3i7k26oBcINOaEAB3WX1A3XY=" type="hidden">
</form>
<form action="https://arieskienmendoza.slickplan.com/sitemap/edit/177985" method="post" id="sitemap-lines-text-colors">
    <div class="item text-color">
        <p>Text Color</p>
        <ul class="palette colors">
            <li class="color custom linetext" data-topmodal="farbtastic" data-type="text"><p>Text Color</p></li>
            <li class="color linetext" data-topmodal="farbtastic" data-type="text" id="custom-text-color"><p
                    style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;"></p></li>
            <li class="color button">
                <button type="button" class="button blue" id="action-text-color-reset">Reset</button>
            </li>
        </ul>
    </div>
    <div class="item line-color">
        <p>Line Color</p>
        <ul class="palette colors">
            <li class="color custom linetext" data-topmodal="farbtastic" data-type="line"><p>Line Color</p></li>
            <li class="color linetext" data-topmodal="farbtastic" data-type="line" id="custom-lines-color"><p
                    style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;"></p></li>
            <li class="color button">
                <button type="button" class="button blue" id="action-line-color-reset">Reset</button>
            </li>
        </ul>
    </div>
    <button type="submit" class="circle submit">Submit</button>
    <button type="reset" class="circle reset">Reset</button>
    <input name="_nonce" value="QiRL/6rjnkH9oYsysMo3i7k26oBcINOaEAB3WX1A3XY=" type="hidden">
</form>
<form action="https://arieskienmendoza.slickplan.com/sitemap/edit/177985" method="post" id="sitemap-shadows-gradients">
    <div class="item">
        <p>Text Shadow</p>

        <div class="switch">
            <input id="form-text-shadow" value="1" class="textshadow-check" type="checkbox">
            <label for="form-text-shadow">On/Off</label>
        </div>
    </div>
    <div class="item">
        <p>Page Gradient</p>

        <div class="switch">
            <input id="form-cell-gradient" value="1" class="gradient-check" type="checkbox">
            <label for="form-cell-gradient">On/Off</label>
        </div>
    </div>
    <button type="submit" class="circle submit">Submit</button>
    <button type="reset" class="circle reset">Reset</button>
    <input name="_nonce" value="QiRL/6rjnkH9oYsysMo3i7k26oBcINOaEAB3WX1A3XY=" type="hidden">
</form>

<div id="sitemap-batch-edit">
    <div id="batch-groups">
        <div id="batch-groups-scroll"><p>No groups have been created.</p></div>
        <div class="title">
            Pages Groups
            {#                    <a href="http://help.slickplan.com/hc/en-us/articles/203689860" class="help" target="_top">#}
            <a href="" class="help" target="_top">
                <i class="fa fa-question-circle"></i>
            </a></div>
        <div id="batch-groups-new">
            <button type="button" class="button blue userColor">Add Group</button>
            <div class="new">
                <input value="" autocorrect="off" autocapitalize="off" autocomplete="off"
                       name="cells_group_name"
                       id="form-cells_group_name" maxlength="50" placeholder="Group Name" type="text">
                <button type="submit" class="circle submit">Submit</button>
                <button type="reset" class="circle reset">Close</button>
                <p><span><i class="fa fa-lock"></i> Currently Editing: <span class="name"></span></span></p>
            </div>
        </div>
    </div>
    <div id="batch-options">
        <div id="batch-options-title" class="clearfix">
            <div class="title">
                Batch Edit Options<a href="http://help.slickplan.com/hc/en-us/articles/203689820" class="help"
                                     target="_top"><i class="fa fa-question-circle"></i></a></div>
            <button type="button" id="batch-delete-all"><i class="fa fa-ban"></i> Delete Pages</button>
        </div>
        <div class="option">
            <p>Page Label</p>
            <input autocorrect="off" autocapitalize="off" autocomplete="off" id="batch-cell-names" value=""
                   type="text">
        </div>
        <div class="option">
            <p>Page Color</p>
            <ul class="palette colors batchediting batch-cell">
                <li class="color custom" data-topmodal="farbtastic" data-type="batch_cell"><p>Page Color</p>
                </li>
                <li class="color" data-topmodal="farbtastic" data-type="batch_cell"><p class="color-box"></p>
                </li>
                <li class="color button">
                    <button type="button" class="button blue" id="action-batch-cell-color-reset">Reset</button>
                </li>
            </ul>
        </div>
        <div class="option">
            <p>Text Color</p>
            <ul class="palette colors batchediting batch-text">
                <li class="color custom" data-topmodal="farbtastic" data-type="batch_text"><p>Text Color</p>
                </li>
                <li class="color" data-topmodal="farbtastic" data-type="batch_text"><p class="color-box"></p>
                </li>
                <li class="color button">
                    <button type="button" class="button blue" id="action-batch-text-color-reset">Reset</button>
                </li>
            </ul>
        </div>
        <div class="option">
            <p>Page Type</p>

            <div class="topmodal-dropdown">
                <div class="icon border"></div>
                <div class="select white sversion">
                    <a href="#" data-topmodal="cell-archetype"
                       class="ui-selectmenu ui-state-default batchediting archetype"><span
                            class="ui-selectmenu-status"> Add Page Type</span><span
                            class="ui-selectmenu-icon ui-icon"></span></a>
                </div>
            </div>
        </div>
        <div class="option">
            <p>Page Link</p>

            <div class="topmodal-dropdown">
                <div class="icon">
                    <i class="fa fa-link"></i>
                </div>
                <div class="select white sversion">
                    <a href="#" data-topmodal="cell-url"
                       class="ui-selectmenu ui-state-default batchediting url">
                        <span class="ui-selectmenu-status"> Add/Delete Link</span>
                        <span class="ui-selectmenu-icon ui-icon"></span></a>
                </div>
            </div>
        </div>
        <div class="option">
            <p>Page Note</p>

            <div class="topmodal-dropdown">
                <div class="icon">
                    <i class="fa fa-file"></i>
                </div>
                <div class="select white sversion">
                    <a href="#" data-topmodal="cell-note"
                       class="ui-selectmenu ui-state-default batchediting desc">
                        <span class="ui-selectmenu-status"> Add/Delete Note</span>
                        <span class="ui-selectmenu-icon ui-icon"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>