{% extends 'base_site.html' %}

{% block title %} Reset password {% endblock %}
{% load staticfiles %}
{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'plataforma/css/login.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'plataforma/css/main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'conceptboard/css/base.css' %}" />
{% endblock %}
{% block body %}
    <div class="container">
        <div class="logo-container">

        </div>
        <div id="main-login" class="shadow-box login-container">
            <div class="login-header">
                <a id="login-logo" href="/">
                    <img src="/static/conceptboard/images/logo_medium_black.png" alt="Mosasicbloom" style="width: 180px;">
                </a>
            </div>
            {% if message != None and message %}
                <div class="alert alert-danger" style="text-align: center;">
                    <b>{{ message }}</b>
                </div>
            {% endif %}
            <div id="content">
                {% if validlink %}
                    <div id="change-password">

                        <form method="post" id="form-change-password">
                            {% csrf_token %}
                            <div class="field_container">
                                <div class="form-group">
                                    <input placeholder="Nueva contraseña" id="id_new_password1" class="form-control input-lg"
                                           required="required" name="new_password1" type="password" style="">
                                    <input placeholder="Confirmar nueva contraseña" id="id_new_password2" class="form-control input-lg"
                                           required="required" name="new_password2" type="password">
                                    <button type="submit" class="btn btn-primary pull-right btn-sumbit-new-pass"
                                            id="submit-change-pass" style="font-weight: bold; padding-left:20px; padding-right: 20px;">
                                        Cambiar contrase&ntilde;a</button>
                                </div>
                            </div>
                        </form>

                    </div>
                {% else %}
                    <p>
                        La url es incorrecta, esto puede suceder porque ya ha sido utilizada.
                        <a href="#" id="go-to-link">Por favor solicite una nueva.</a>
                    </p>
                {% endif %}
            </div>

        </div>
        <div class="text-center">
            <!-- <div>Créate una cuenta <a href="#">Aquí!</a></div> -->
            <div id="login-redes-sociales">
                <a href="#" class="red-social"><i class="fa fa-facebook"></i></a>
                <a href="#" class="red-social"><i class="fa fa-linkedin"></i></a>
                <a href="#" class="red-social"><i class="fa fa-google-plus"></i></a>
                <a href="#" class="red-social"><i class="fa fa-twitter"></i></a>
                <a href="#" class="red-social"><i class="fa fa-pinterest"></i></a>
            </div>
        </div>
    </div>

    <style>
        #change-password {
            height: 218px;
            display: block;
        }
        .form-group {
            margin-bottom: 70px;
        }
        .btn-sumbit-new-pass {
            margin: 15px 0 15px 0;
        }
        #id_new_password2 {
            margin-top: 15px;
        }
    </style>

    <script>
        $("#go-to-link").on('click', function () {
            var url = window.location.origin + '/password_reset/';
            window.open(url);
        });
        $("#submit-change-pass").click(function (e) {
            $("#form-change-password").ajaxForm({
            success: function (response) {
                $("#content").html(response);
            }
        })
        });
    </script>

    {% include "plataforma/footer_login.html" %}

{% endblock %}

{#{% extends 'base_site.html' %}#}
{##}
{#{% block body %}#}
{#  {% if validlink %}#}
{#    <h3>Change password</h3>#}
{#    <form method="post">#}
{#      {% csrf_token %}#}
{#      {{ form.as_p }}#}
{#      <button type="submit">Change password</button>#}
{#    </form>#}
{#  {% else %}#}
{#    <p>#}
{#      The password reset link was invalid, possibly because it has already been used.#}
{#      Please request a new password reset.#}
{#    </p>#}
{#  {% endif %}#}
{#{% endblock %}#}