
{% extends "base_site.html"%}
{% block title %} Login {% endblock %}
{% load staticfiles %}
{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'plataforma/css/login.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'plataforma/css/main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'conceptboard/css/base.css' %}" />
{% endblock %}
{% block body %}

    <div class="container" id="login-container">
        {#        <div class="alert alert-success alert-reset-done" role="alert" hidden>#}
        {#            <button type="button" class="close" data-dismiss="alert" aria-label="Close">#}
        {#                <span aria-hidden="true">&times;</span>#}
        {#            </button>#}
        {#            <p class="mb-0">Se ha enviado un correo con las instrucciones</p>#}
        {#        </div>#}
        <div class="logo-container">

        </div>
        <div id="main-login" class="shadow-box login-container">
            <div class="login-header">
                <a id="login-logo" href="/">
                    <img src="/static/conceptboard/images/logo_medium_black.png" alt="Mosasicbloom" style="width: 180px;">
                </a>
            </div>
            {% if message != None and message %}
                <div class="alert alert-danger" style="text-align: center;">
                    <b>{{ message }}</b>
                </div>
            {% endif %}
            <div id="form-container" style="display: block">
                <div id="forgot-password-form">
                    <form method="post" id="password-reset" action="{% url 'password_reset' %}">
                        {% csrf_token %}
                        {# form.as_p #}
                        <div class="field_container">
                            <div class="form-group reset-form">
                                <input placeholder="Email" id="id_email" class="form-control input-lg"
                                       required="required" name="email" type="email">
                            </div>
                            <div class="btn-toolbar btn-reset-pass">
                                <button type="submit" id="btn-submit" class="btn btn-primary pull-right">Enviar correo</button>
                                <button type="reset" class="btn btn-link btn-back" tabindex="3">
                                    <a href="{% url 'login' %}" id="go-to-login">Login</a>
                                </button>
                            </div>
                        </div>
                    </form>

                    <div id="dialog" title="Basic dialog" style="display: none">
                        <p>Se ha enviado un correo con las instrucciones para cambiar su contrase&ntilde;a.</p>
                    </div>

                    <style>
                        .btn-reset-pass {
                            margin: 10px 0 20px 0;
                        }
                        #id_email {
                            border-radius: unset;
                        }
                        .btn-back:hover {
                            border: solid 1px lightgrey;
                            border-radius:10px;
                            text-decoration: none;
                        }
                        #go-to-login {
                            font-weight: bold;
                        }
                        #go-to-login:hover {
                            text-decoration: none;
                        }
                    </style>

                    <script>
                        $("#btn-submit").click(function (e) {
                            if (!$.isEmptyObject($("#id_email").val())) {
                                e.preventDefault();
                                $("#dialog").dialog({
                                    title: "Information",
                                    buttons: [
                                        {
                                            text: "OK",
                                            click: function() {
                                                $( this ).dialog( "close" );
                                                $("#password-reset").trigger('submit');
                                            }
                                        }
                                    ]
                                });
                            }
                        })

                    </script>
                </div>
            </div>

        </div>
        <div class="text-center">
            <!-- <div>Créate una cuenta <a href="#">Aquí!</a></div> -->
            <div id="login-redes-sociales">
                <a href="#" class="red-social"><i class="fa fa-facebook"></i></a>
                <a href="#" class="red-social"><i class="fa fa-linkedin"></i></a>
                <a href="#" class="red-social"><i class="fa fa-google-plus"></i></a>
                <a href="#" class="red-social"><i class="fa fa-twitter"></i></a>
                <a href="#" class="red-social"><i class="fa fa-pinterest"></i></a>
            </div>
        </div>
    </div>

    {% include "plataforma/footer_login.html" %}
{% endblock %}